<div class="card" style="width: 20rem;">
  <div class="card-img-wrapper">
    <img *ngIf="propertyCard.Image" class="card-img-top" src="assets/images/{{propertyCard.Image}}.jpg">
    <img *ngIf="!propertyCard.Image" class="card-img-top" src="assets/images/house_default.png">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{propertyCard.Id}}"><i class="fa-regular fa-pen-to-square"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="far fa-address-book"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{propertyCard.Name}}</h1>
    <h2>{{propertyCard.Type}}</h2>
    <h3>{{propertyCard.Price}}</h3>
  </div>
</div>

